@import url('https://fonts.googleapis.com/css2?family=Oxanium&family=Silkscreen&display=swap');
/* font-family: 'Oxanium', cursive;
font-family: 'Silkscreen', cursive; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,#root {
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

:root{
  --mainTone: rgb(215,210,216);
  --secTone: rgb(115,116,136);
  --btnShadow: rgb(201,195,199);
  --redBtn: rgb(111,1,25);
  --darkBtn: rgb(5,2,5);
  --grayBtn: rgb(154,148,161);
  --led: rgb(226,46,27);
  --screen: rgb(156,160,76);
  --textCol: rgb(51,44,96);
  --screenTextCol: rgb(26, 26, 26);

  --font-size: calc(8px + 1.5vh);
}
.none{
  display: none!important;
}

.App{
  margin: 10px;
  height: 95vh;
  width: auto;
  aspect-ratio: 90/148;
  background-color: var(--mainTone);
  position: relative;
  border-radius: 20px 20px 120px 20px;
  overflow: hidden;
  /* transform: scale(1.2); */
  font-family: 'Oxanium', cursive;
}
.line{
  position: absolute;
  background-color: var(--btnShadow);
  box-shadow: inset 0 1px 1px #303030
}
#line1{
  width: 100%;
  height: .8%;
  top: 4%;
}
#line2{
  width: 1.3%;
  height: 4.5%;
  left: 7%;
}
#line3{
  width: 1.3%;
  height: 4.5%;
  right: 7%;
}
.barkBtnContainer{
  width: 30%;
  height: auto;
  aspect-ratio: 1;
  position: absolute;
  background-color: var(--btnShadow);
  border-radius: 50%;
  top: 60%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 8px #30303031
}
.dirBtn{
  height: 80%;
  width: 30%;
  position: absolute;
  background-color: var(--darkBtn);
  border-radius: 8px;
  border: 0;
}
#rightLeftBtn{
  rotate: 90deg;
}
.redBtnContainer{
  width: auto;
  height: 20%;
  aspect-ratio: 1/2;
  position: absolute;
  background-color: var(--btnShadow);
  border-radius: 50px;
  top: 58%;
  right: 15%;
  rotate: 65deg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: inset 0 0 8px #30303031
}
.baBtn{
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  background-color:  var(--redBtn);
  border-radius: 50%;
  margin: 5%px;
  box-shadow: 0 0 5px #303030
}
.baBtn > p{
  position: absolute;
  left: 110%;
  rotate: -90deg;
  font-size: 2vh;
  font-weight: 800;
  color: var(--textCol);
}
#aBtn > p{
  top: 20%;
}
#bBtn > p{
  top: 70%;
}
.longBtn{
  width: 15%;
  height: auto;
  aspect-ratio: 5/1;
  position: absolute;
  background-color: var(--grayBtn);
  border-radius: 10px;
  top: 85%;
  rotate: -25deg;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
}
.longBtn > p{
  position: absolute;
  top: 120%;
  font-size: var(--font-size);
  font-weight: 800;
  color: var(--textCol);

}
#selectBtn{
  left: 32.5%;
}
#startBtn{
  left: 52.5%
}
.sec{
  width: 80%;
  height: 40%;
  position: absolute;
  margin: 15% 10% 0 10%;
  background-color: var(--secTone);
  border-radius: 15px 15px 90px 15px;
  display: flex;
  justify-content: center;
}
.power{
  width: 3%;
  height: auto;
  aspect-ratio: 1;
  background-color: var(--led);
  border-radius: 50%;
  position: absolute;
  left: 5%;
  top: 35%;
  box-shadow: 0 0 8px #ff7676
}
.power > div{
  width: 550%;
  height: 100%;
  position: absolute;
  top: 130%;
  left: -120%;
  font-weight: 800;
  font-size: .1vh;
  word-break: break-all;
  color: var(--mainTone);
}

.container{
  width: 65%;
  height: 70%;
  margin: 10% 15% 10% 15%;
  background-color: var(--screen);
  box-shadow: inset 0 0 13px #303030;
  font-family: 'Silkscreen', cursive;
  overflow: hidden;
}
#menuContainer{
  width: 100%;
  height: 100%;
}
.Menu,.Option,.Volume{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--screenTextCol);
}
.Menu > h1{
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: clamp(18px, 4vh, 36px);
}
.Option > h1{
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: clamp(18px, 4vh, 36px);
}
.Volume > h1{
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: clamp(18px, 4vh, 36px);
}
.volBtnContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #ff7676; */
}
.volBtnContainer > p{
  font-size: var(--font-size);
  color: var(--screenTextCol);
  margin: 5%;
  user-select: none;
}
#volDec:hover{
  background-color: rgba(26, 26, 26, 0.877);
  color: rgb(183, 189, 81);
}
#volInc:hover{
  background-color: rgba(26, 26, 26, 0.877);
  color: rgb(183, 189, 81);
}
.menuList,.optionList > li{
  font-size: 2.5vh;
  list-style: none;
  text-align: center;
}

.menuList > li:hover{
  background-color: rgba(26, 26, 26, 0.877);
  color: rgb(183, 189, 81);
}

.optionList > li:hover{
  background-color: rgba(26, 26, 26, 0.877);
  color: rgb(183, 189, 81);
}

.ExitVolBtn{
  font-size: 2.5vh;
  text-align: center;
}
.ExitVolBtn:hover{
  background-color: rgba(26, 26, 26, 0.877);
  color: rgb(183, 189, 81);
}

.Games{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.Games > div{
  /* background-color: #00cf1c; */
  margin: 5%;
}


.Game1Container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Game1Container > div{
  width: 90%;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game > p{
  color: var(--screenTextCol);
}
.game > *{
  pointer-events: none;
}

.basketBallContainer{
  min-height: 32%;
}
.scoreDisplay{
  font-size: var(--font-size);
  border: 2px dotted rgba(0, 0, 0, 0.8);
}
.healthContainer{
  position: absolute;
  height: 8%;
  max-width: 7vh;
  left: 17%;
  bottom: 16%;
  display: flex;
  justify-content: start!important;
}
.healthContainer > div{
  font-size: 0.1vh;
  margin: 5%;
  color: var(--screenTextCol);
}
.move{
  animation: move 5s linear infinite;
}

@keyframes move{
  0%{
    transform: translatex(0%);
  }
  25%{
    transform: translatex(-120%);
  }
  50%{
    transform: translatex(0%);
  }
  75%{
    transform: translatex(120%);
  }
  100%{
    transform: translatex(0%);
  }
}

.shoot{
  animation: shoot 1.5s linear forwards;
}

@keyframes shoot{
  0%{
    transform: translateY(0%);
  }
  25%{
    transform: translateY(-480%) rotate(360deg);
    width: 15%;
    opacity: 1;
  }
  35%{
    transform: translateY(-470%) rotate(420deg);
    width: 13%;
    opacity: 1;
  }
  45%{
    opacity: .3;
  }
  50%{
    transform: translateY(-400%) rotate(480deg);
    width: 12%;
    opacity: 0;
  }
  75%{
    transform: translateY(0%) rotate(0deg);
    opacity: 0;
  }
}

.ikun{
  width: 64.8%!important;
  height: 70%;
  background-color: var(--screen);
  position: absolute;
  z-index: 5;
  overflow: hidden;
  animation: fadeIn 1s forwards;
  box-shadow: inset 0 0 13px #303030;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.gameOver{
  position: absolute;
  top: 10%;
  font-size: var(--font-size);
  color: var(--screenTextCol);
}
.tieSanKao{
  width: 40%;
  aspect-ratio: 1;
  /* left: -20%; */
  position: absolute;
  top: 25%;
  overflow: hidden;
}
.score{
  position: absolute;
  bottom: 20%;
  color: var(--screenTextCol);
  font-size: calc(4px + 1.5vh);
}
.xiaoheizi{
  height: 100%;
  animation: kao .8s steps(7) infinite;
  mix-blend-mode: multiply; 
}
@keyframes kao {
  0%{
    transform: translate3d(0,0,0);
  }
  100%{
    transform: translate3d(-100%,0,0);
  }
}
.g1Img{
  mix-blend-mode: multiply; 
}

.backBtn{
  position: absolute;
  bottom: 8%;
  color: var(--screenTextCol);
  font-size: calc(4px + 1.5vh);
  width: 22%;
  height: 10%;
  text-align: center;
}

.backBtn:hover{
  background-color: rgba(26, 26, 26, 0.877);
  color: rgb(183, 189, 81);
}